body{
  background-color: #f0f8ff;
}
 h1{
   color:	#1e90ff
 }

 h3{
   color: #66BFBF
 }

hr{
  backgroung-color: white;
  border-style: dotted none none none;
  border-color: grey;
  border-width: 8px;
  height: 0px;
  width: 5%;
}



img{
  height: 180px;
}
